/* body */
body {
    margin: 0;
}

/* Fonts */
h1 {font-family: SF Pro;
font-size: 50px;
font-style: normal;
font-weight: 510;
line-height: normal;}

h2 {font-family: SF Pro;
font-size: 38px;
font-style: normal;
font-weight: 510;
line-height: normal;
}

h3 {font-family: SF Pro;
    font-size: 28px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    }

.blue {color: #075978;}

h4{font-family: SF Pro;
font-size: 21px;
font-style: normal;
font-weight: 510;
line-height: normal;
}

h5{font-family: SF Pro;
font-size: 20px;
font-style: normal;
font-weight: 510;
line-height: normal;
}

p{font-family: SF Pro;
font-size: 18px;
font-style: normal;
font-weight: 510;
line-height: 20px; /* 111.111% */
}

p small {
    font-family: SF Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

/* 1.Header & Navigation */

.navigation{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
}

.logo{
    grid-area: logo;
    /* outline: 1px solid red; */
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: 20px;
}

.navigationBar{
    grid-area: navigationBar;
    /* outline: 1px solid red; */
    grid-column: 1 / span 9;
    grid-row: 1;
    margin: 0px -200px 20px 0px;
}

.socialmediaIcon{
    grid-area: socialmediaIcon;
    /* outline: 1px solid red; */
    grid-column: 10 / span 2;
    grid-row: 1;
    justify-content: end;
    margin: 0px 0px 20px 0px;
    padding-top: 50px;
    display: flex;
}

.smcicon{
    padding: 10px;
}

.socialmediaIcon > .inline-block {
    display: inline-block;
    padding: 60px 10px 0px 10px;
}

.refine1{
    padding: 20px 0px 0px 100px;
    outline: 1px red solid;
}

.inline-block{
    display:inline-block;
    vertical-align: top;
}

.navigationBar li:hover {
color: #9E7B9B;
}

#button1 {
    margin: 0px 50px 0px 0px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--Lighter-Blue, #075978);
    color: #FFF;
    font-family: SF Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

#button2{
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    color: #000;
    font-family: SF Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    margin: 0px 0px 0px 50px;
}

nav{
    width: 90%;
    padding:1%;
    text-align: center;
}
nav li{
    padding: 3%;
}
ul{
    width: 50%;
    margin-left: auto;
}

/*  2.Hero Image  */
.heroImage{
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; */
    grid-template-rows: 500px;
    justify-content: center;
}

.heroImg{
    /* padding:0px 0px 1000px 0px; */
    text-align:center;
    /* grid-column: 6 / span 6; */
    grid-row: 1;
    /* outline: 1px red solid; */
}

.content{
    grid-column: 1 / span 12;
    grid-row: 1;
    /* margin: 20px 200px 0px 100px; */
    /* width: 800px; */
    /* outline: 1px red solid; */
}

.mySkills {
    max-width: 1400px;
    display: grid;
    /* margin: 0px 32px 0px 32px; */
    /* min-height: 600px;
    width: 100%; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "myskillsBar aboutMe";
    justify-content: center;
    margin: 0 auto;
}

.heroImg > .openingSkills > h4 {
    display: flex;
}

/* 3.Projects (My Design Process section coded using CSS flex) */
.myProject{
    max-width: 1400px;
    margin: 0 auto;
}
.designProcess {
    display: flex;
    text-align: center;
    color: white;
    padding: 0% 10% 10% 10%;
}

.alldesignprocess > h2{
    padding-left: 50px;
    padding-top: 0px;
}

.alldesignprocess{
    width: 1375px;
    height: 397px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Dark-Blue, #001B2E);
    color: white;
    grid-area: csi1;
    /* outline: 1px solid red; */
    grid-column: 1 / span 12;
    grid-row: 1;
}

.icons {
    margin-right: 40px;
    margin-bottom: 20px;
}

.viewAll{
    display:flex;
    justify-content: end;
}
/*  Case Study 1 */

.arrow{
    float: right;
}

.hoverCS {
    color:#F8E00A;
}

.grid1{
    display:grid;
    min-height: 428px;
    margin: 0px 32px 0px 32px;
    /* gap: 10px; */
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto;}
    /* padding: 50px;} */

.csd1{
    /* display: block; */
    /* line-height: 25px; */
    width: 352px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Lighter-Blue, #075978);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
    grid-area: csd1;
    /* outline: 1px solid red; */
    grid-column: 3 / span 3;
    grid-row: 2;
    margin: 70px 100px 20px 50px;
}

.csi1{
width: 705px;
height: 428px;
flex-shrink: 0;
border-radius: 15px;
background: var(--Lightest-blue, #557081);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
padding-top: 50px;
grid-area: csi1;
/* outline: 1px solid red; */
grid-column: 5 / span 6;
grid-row: 2;
margin: 20px 0px 0px 0px;
}

/* Case Study 2 */
.floatright{
    float: right;
}

.floatleft{
    float: left;
}

.barwidth{
    width: 595px;
}

.grid2{
    display:grid;
    min-height: 428px;
    margin: 0px 32px 0px 32px;
    /* gap: 10px; */
    /* height: 500px; */
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;}
    /* grid-template-areas: "csi2 csi2 csi2 csi2 csi2 csi2 csd2 csd2 csd2 csd2";} */

.csd2{
    width: 352px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Lighter-Blue, #075978);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    z-index: 10;
    grid-area: csd2;
    /* outline: 1px solid red; */
    grid-column: 6 / span 4;
    grid-row: 1/ span 1;
    margin: 70px 0px 0px -240px;} 
    /* /* margin: 70px 100px 20px 50px;} */

.csi2 {
width: 705px;
height: 428px;
flex-shrink: 0;
border-radius: 15px;
background: var(--Lightest-blue, #557081);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
padding-top: 50px;
grid-area: csi1;
/* outline: 1px solid red; */
grid-column: 1 / span 6;
grid-row: 1 / span 1;
margin: 20px 0px 20px 0px;}

/* margin: 10px 0px 0px 0px; */

/* Case Study 3 */

.grid3 {
    display:grid;
    min-height: 428px;
    margin: 0px 32px 0px 32px;
    /* gap: 10px; */
    /* height: 500px; */
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;}

.csd3{
width: 352px;
height: 318px;
flex-shrink: 0;
border-radius: 15px;
background: var(--Lighter-Blue, #075978);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
z-index: 10;
grid-area: csd3;
/* outline: 1px solid red; */
grid-column: 6 / span 3;
grid-row: 1/ span 1;
margin: 70px 35px 0px 0px;}

.csi3{
width: 450px;
height: 350px;
flex-shrink: 0;
border-radius: 15px;
background: var(--Lightest-blue, #557081);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
padding-top: 50px;
grid-area: csi3;
/* outline: 1px solid red; */
grid-column: 8/span 5;
grid-row: 1;
margin: 20px 0px 0px 80px;}

.csi3b{
width: 559px;
height: 477px;
flex-shrink: 0;
border-radius: 15px;
background: var(--Lightest-blue, #557081);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
padding-top: 45px;
grid-area: csi3b;
/* outline: 1px solid red; */
grid-column: 1/span 5;
grid-row: 1;
margin: 70px 20px 0px 0px;}

.csd>h3{
color: #FFF;
text-align: left;
padding: 20px;
cursor: pointer;} 

.csd>p{
    width: 284px;
    height: 86px;
    flex-shrink: 0;
    text-align: left;
    color: white;
    padding-left: 20px;} */


 /* 4.My Skills */

 .mySkills {
    display: grid;
    margin: 0px 32px 0px 32px;
    /* min-height: 600px;
    width: 100%; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "myskillsBar aboutMe";
}

.myskillsBar{
    grid-area: myskillsBar;}
    /* padding: 50px; */
    /* outline: 1px solid red;} */
    /* grid-column: 1;
    grid-row: 1;} */

/* 5.About Me */

.aboutMe{
    /* padding: 50px; */
    grid-area: aboutMe;
    margin: 0px 32px 0px 0px;}
    /* outline: 1px solid red;} */
    /* grid-column: 2;
    grid-row: 1;} */

.boxes {
    margin: 100px 0px 0px 0px;
    display: flex;
    justify-content: space-between;}

.box4{
    margin: 0px 0px 0px 0px;
}

.box3{
    margin: 70px 0px 0px 0px;
}

.box2{
    margin: 150px 0px 0px 0px;
}

.box {
    max-width: 130px;
    min-width: 130px;
    max-height: 97px;
    min-height: 97px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Lighter-Blue, #075978);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;}

#progressBar {
    background-color: #000;
    border-radius: 20px;
    /* margin-top: 61px;
    padding: 3px; */
    width: 595px;
    height: 32px;
    flex-shrink: 0;
    clear: both;}

#progressBar > .blueBar {
    background-color:#075978;
    width: 531px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 20px;
    animation: loadBar 4s;}

#progressBar > .blueBar2{
    width: 557px;
    height: 32px;}
    
#progressBar > .blueBar3{
    width: 564px;
    height: 32px;}
        
#progressBar > .blueBar4{
    width: 564px;
    height: 32px;}

#progressBar > .bluebar5{
    width: 427px;
    height: 32px;
    }


/* 6.Footer */

footer{
margin-top: 40px;
flex-shrink: 0;
background: var(--Dark-Blue, #001B2E);
color: white;
/* width: 1524px; */
height: 300px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
}


#buttonUp {
width: 91px;
height: 91px;
flex-shrink: 0;
outline: 1px #075978 solid;
background-color: var(--Lighter-Blue, #075978);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 50%;
padding: 20px 20px 20px 20px;
margin: 50px 0px 0px 0px;
transform: scale(0.8);
}

.leftfooter{
    grid-area:leftfooter;
    grid-column: 2 / span 5;
    grid-row: 1;
}

.rightfooter{
    grid-area: rightfooter;
    text-align: right;
    grid-row: 1;
    margin: 0px 20px 20px;
}

/* Mobile Media Query */

@media screen and (max-width: 600px) { 
        .alldesignprocess{
        height: 2000px;
        }

        .designProcess{
        display: flex;
        flex-direction: column;
        outline: 1px solid red;}

        .grid1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;} 
        /* grid-template-areas: "csi1" "csd1";} */

        .grid2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "csi2" "csd2";}
        
        .grid3{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "csi3" "csd3";}
        }

/* To put border around the img icon inside a class */
/* .conclusion > img {
    border: black 1px solid;
    background-color: white;
    border-radius: 50%;
    padding: 20px;
} */ 
